# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# idea
.idea

# Remove production configs
config/*.prod.json

# Remove build
.build
build

# Remove configs
config/*
!config/*.example.json
!config/*.schema.json
